<h1 align="center">Complex Buildings For Sale</h1>
<hr>
<div class="row">
    <% @complex_buildings.each do |complex_building| %>
        <div class="col-md-4">
            <%= link_to (image_tag complex_building.image, width: '100%', height: '250px', class: 'rounded'), complex_building %>
            <h5><%= number_to_currency complex_building.price%></h5>
            <p><%= complex_building.address %></p>
        </div>
    <% end %>
</div>